<script src="{{ url_for('static', filename='Dashboard_code/lib/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='Dashboard_code/lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='Dashboard_code/lib/ionicons/ionicons.js') }}"></script>
<script src="{{ url_for('static', filename='Dashboard_code/lib/jquery.flot/jquery.flot.js') }}"></script>
<script src="{{ url_for('static', filename='Dashboard_code/lib/jquery.flot/jquery.flot.resize.js') }}"></script>
<script src="{{ url_for('static', filename='Dashboard_code/lib/chart.js/Chart.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='Dashboard_code/lib/peity/jquery.peity.min.js') }}"></script>

<script src="{{ url_for('static', filename='Dashboard_code/js/azia.js') }}"></script>
<script src="{{ url_for('static', filename='Dashboard_code/js/chart.flot.sampledata.js') }}"></script>
<script src="{{ url_for('static', filename='Dashboard_code/js/dashboard.sampledata.js') }}"></script>
<script src="{{ url_for('static', filename='Dashboard_code/js/jquery.cookie.js') }}" type="text/javascript"></script>
<script>
  $(function () {
    'use strict'

    var plot = $.plot('#flotChart', [{
      data: flotSampleData3,
      color: '#007bff',
      lines: {
        fillColor: { colors: [{ opacity: 0 }, { opacity: 0.2 }] }
      }
    }, {
      data: flotSampleData4,
      color: '#560bd0',
      lines: {
        fillColor: { colors: [{ opacity: 0 }, { opacity: 0.2 }] }
      }
    }], {
      series: {
        shadowSize: 0,
        lines: {
          show: true,
          lineWidth: 2,
          fill: true
        }
      },
      grid: {
        borderWidth: 0,
        labelMargin: 8
      },
      yaxis: {
        show: true,
        min: 0,
        max: 100,
        ticks: [[0, ''], [20, '20K'], [40, '40K'], [60, '60K'], [80, '80K']],
        tickColor: '#eee'
      },
      xaxis: {
        show: true,
        color: '#fff',
        ticks: [[25, 'OCT 21'], [75, 'OCT 22'], [100, 'OCT 23'], [125, 'OCT 24']],
      }
    });

    $.plot('#flotChart1', [{
      data: dashData2,
      color: '#00cccc'
    }], {
      series: {
        shadowSize: 0,
        lines: {
          show: true,
          lineWidth: 2,
          fill: true,
          fillColor: { colors: [{ opacity: 0.2 }, { opacity: 0.2 }] }
        }
      },
      grid: {
        borderWidth: 0,
        labelMargin: 0
      },
      yaxis: {
        show: false,
        min: 0,
        max: 35
      },
      xaxis: {
        show: false,
        max: 50
      }
    });

    $.plot('#flotChart2', [{
      data: dashData2,
      color: '#007bff'
    }], {
      series: {
        shadowSize: 0,
        bars: {
          show: true,
          lineWidth: 0,
          fill: 1,
          barWidth: .5
        }
      },
      grid: {
        borderWidth: 0,
        labelMargin: 0
      },
      yaxis: {
        show: false,
        min: 0,
        max: 35
      },
      xaxis: {
        show: false,
        max: 20
      }
    });


    //-------------------------------------------------------------//


    // Line chart
    $('.peity-line').peity('line');

    // Bar charts
    $('.peity-bar').peity('bar');

    // Bar charts
    $('.peity-donut').peity('donut');

    var ctx5 = document.getElementById('chartBar5').getContext('2d');
    new Chart(ctx5, {
      type: 'bar',
      data: {
        labels: [0, 1, 2, 3, 4, 5, 6, 7],
        datasets: [{
          data: [2, 4, 10, 20, 45, 40, 35, 18],
          backgroundColor: '#560bd0'
        }, {
          data: [3, 6, 15, 35, 50, 45, 35, 25],
          backgroundColor: '#cad0e8'
        }]
      },
      options: {
        maintainAspectRatio: false,
        tooltips: {
          enabled: false
        },
        legend: {
          display: false,
          labels: {
            display: false
          }
        },
        scales: {
          yAxes: [{
            display: false,
            ticks: {
              beginAtZero: true,
              fontSize: 11,
              max: 80
            }
          }],
          xAxes: [{
            barPercentage: 0.6,
            gridLines: {
              color: 'rgba(0,0,0,0.08)'
            },
            ticks: {
              beginAtZero: true,
              fontSize: 11,
              display: false
            }
          }]
        }
      }
    });
    // Donut Chart
    var datapie = {
      labels: ['Commercial And Financial', 'Emergency And Public Services', 'Food And Drink', 'Other Amenities'],
      datasets: [{
        data: [2.4, 0.06, 31.5, 65.5],
        backgroundColor: ['#efd58a', '#38a3cd', '#a8a9ab', '#9fd9f3']
      }]
    };

    var optionpie = {
      maintainAspectRatio: false,
      responsive: true,
      legend: {
        display: false,
      },
      animation: {
        animateScale: true,
        animateRotate: true
      }
    };

    // For a doughnut chart
    var ctxpie = document.getElementById('chartDonut');
    var myPieChart6 = new Chart(ctxpie, {
      type: 'doughnut',
      data: datapie,
      options: optionpie
    });

  });
  // Pass lists from Jinja to JavaScript
  var maintenance_months_list = {{ data_variables["maintenance_months_list"] | tojson }};
  var maintenance_count_list = {{ data_variables["maintenance_count_list"] | tojson }};
  var maintained_buildings_list = {{ data_variables["maintained_buildings_list"] | tojson }};
  var max_value = {{ data_variables["max_value"] | int }};

  var trending_rate = parseFloat({{ data_variables["trending_rate"] | tojson }});
  var statusDiv = document.getElementById("trending_rate");

  // Set class based on trending_rate value
  if (trending_rate > 1) {
    statusDiv.className = "ion-md-trending-up tx-danger"; // High trend
  } else if (trending_rate === 0) {
    statusDiv.className = "ion-md-trending-neutral tx-warning"; // No trend
  } else {
    statusDiv.className = "ion-md-trending-down tx-success"; // Low trend
  }

  /* LINE CHART */
  var ctx8 = document.getElementById('chartLine1');
  new Chart(ctx8, {
    type: 'line',
    data: {
      labels: maintenance_months_list, // requests
      datasets: [{
        data: maintenance_count_list,
        borderColor: '#f10075',
        borderWidth: 1,
        fill: true
      },
      {
        data: maintained_buildings_list, // repairement
        borderColor: '#05BA90',
        borderWidth: 1,
        fill: true
      }]
    },
    options: {
      maintainAspectRatio: false,
      legend: {
        display: false,
        labels: {
          display: false
        }
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
            fontSize: 10,
            max: max_value // maximum of the data
          }
        }],
        xAxes: [{
          ticks: {
            beginAtZero: true,
            fontSize: 11
          }
        }]
      }
    }
  });
  var buildings_in_good_condition = {{ data_variables["buildings_in_good_condition"] | int }};
  var total_maintenance_requests = {{ data_variables["total_maintenance_requests"] | int }};
  var Buildings_count = {{ data_variables["Buildings_count"] | int }};



  var ctx4 = document.getElementById('chartBar4').getContext('2d');
  new Chart(ctx4, {
    type: 'horizontalBar',
    data: {
      labels: ['maintained', 'Unmaintained'],
      datasets: [{
        label: '# of Votes',
        data: [buildings_in_good_condition, total_maintenance_requests],
        backgroundColor: ['#05BA90', '#f10075']
      }]
    },
    options: {
      maintainAspectRatio: false,
      legend: {
        display: false,
          labels: {
            display: false
          }
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero:true,
            fontSize: 10,
          }
        }],
        xAxes: [{
          ticks: {
            beginAtZero:true,
            fontSize: 11,
            max: Buildings_count
          }
        }]
      }
    }
  });


  var categories_list = {{ data_variables["categories_list"] | tojson }};
  var categories_percentage_list = {{ data_variables["categories_percentage_list"] | tojson }};
  var background_colors = {{ data_variables["background_colors"] | tojson }};




  var chartPie_amenities= {
    labels: categories_list,
    datasets: [{
      data: categories_percentage_list,
      backgroundColor:background_colors
    }]
  };

  var optionpie = {
    maintainAspectRatio: false,
    responsive: true,
    legend: {
      display: false,
    },
    animation: {
      animateScale: true,
      animateRotate: true
    }
  };


  // For a doughnut chart
  var ctx6 = document.getElementById('chartPie_amenities');
  var myPieChart6 = new Chart(ctx6, {
    type: 'doughnut',
    data: chartPie_amenities,
    options: optionpie
  });
</script>
