{% block navnarblock %}
<div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto py-0">
        <a href="index.html" class="nav-item nav-link active">Home</a>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
            <div class="dropdown-menu m-0">
                <a href="MapExplorer.html" class="dropdown-item">Map Explorer</a>
                <a href="Dashboard.html" class="dropdown-item">Facility Insights Dashboard</a>
                <a href="ThreeDViewer.html" class="dropdown-item">3D Estate Viewer</a> <!--Sanan's App-->
            </div>
        </div>
        <a href="contact.html" class="nav-item nav-link">Contact</a>
    </div>
    <a href="" class="btn btn-light rounded-pill text-primary py-2 px-4 ms-lg-5">Hala Ghareeb</a>
</div>
{% endblock navnarblock %}
